{% extends "base.html" %}

{% block content %}

<h2 class="mb-4 text-center">
    {% if lang == "zh" %}
       👥 朋友總表
    {% else %}
       👥 Player List
    {%endif%}
</h2>

<form method="GET" class="mb-4">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search for keywords" value="{{ request.args.get('search','') }}">
        <button class="btn btn-success">Search</button>
    </div>
</form>

<div class="row" data-masonry='{"percentPosition": true }'>

{% for player in players %}

<div class="col-md-6 col-lg-4 mb-4">

    <div class="card shadow-sm border-0">

        <div class="card-body">

            <h5 class="fw-bold text-success mb-1">
                🌻 {{ player.name }}
            </h5>

            <p class="text-muted small mb-3">
                {{ player.created_at[:16].replace("T"," ") }}
            </p>

            <p>
                <span class="text-secondary fw-bold">
                        {% if lang == "zh" %}
                        🆔 皮克敏ID:
                        {% else %}
                        🆔 Pikmin ID:
                        {%endif%}
                
                </span>
                <span class="fw-bold text-primary">{{ player.code }}</span>
            </p>

            <p>
                <span class="fw-bold text-secondary">
                        {% if lang == "zh" %}
                        📍 活躍地點:
                        {% else %}
                        📍 Active Locations:
                        {%endif%}
                </span>
                {{ player.location }}
            </p>

            <p class="fw-bold text-secondary mb-1">
                {% if lang == "zh" %}
                🗒️ 自介
                {% else %}
                🗒️ Introduction
                {% endif %}
            </p>

            <pre class="bg-light p-3 rounded small border">{{ player.note }}</pre>

        </div>

    </div>

</div>

{% endfor %}
</div>

{% endblock %}